<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width" />
    <title>Consultation details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .main {
            text-align: center;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #008000;
        }

        p {
            color: #333;
        }

        a {
            color: #0066cc;
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <div class="main">
        <div>
            <h1>Consultation registration was successful</h1>
            <p>Thank you for registering for the consultation. We look forward to meeting you!</p>
            <p>For more information, visit our <a href="https://google.com">website</a>.</p>
        </div>
    </div>
</body>
</html>
